/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/*Custom bootstrap variables must be set or imported *before* bootstrap.*/
@import "bootstrap";

.img-tenth {
	/*max-width: 10vw; */
	max-width: 150px; 
	border-radius: 50%;
}

.aliens {
	p:hover {
		color: red;
		background-color: yellow;
	};
}

.full-span-banner {
	width: 100%;
	height: 450px;
	background-image: image-url("pages/space-background.jpg");
	background-size: cover;
}

.container-res {
	display: grid;
	grid-template-rows: 220px;
	grid-template-columns: minmax(300px, 8fr) minmax(200px, 2fr);
}