/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body.body {
	height: 100%;
	width: 100%;
	background-color: #DBE5FF;
}

 #app {
 	margin-right: 20%;
 	margin-left: 20%;
 	/*background-color: azure;*/

 }


.n-a { /* notices / alerts */
	text-align: center;
	background-color: #678FFE;
	font-weight: bold;
	font-size: 16pt;
	margin-bottom: 0px !important;
}
.notices {
	color: #DBE5FF;
}
.alerts {
	color: #091534;
}


.global-nav {
	height: 30px;
	background-color: #091534;
	color: #DBE5FF;
	/*padding-left: 5px;*/
	position: sticky;
	top: 0;
}
/* @TODO add media qrs bcuz it melts on small scr sizes*/
.to-right {
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 5px;
}
.global-nav .nav-item {
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}
.nav-item {
	height: 30px;
	background: #091534;
}
.nav-item:hover {
	-webkit-transition: background 2s; /* Safari */
  	transition: background 2s;
	background: #678FFE;
	color: #091534;
	cursor: pointer;

}

.homepage-header {
	background: url(https://i.imgur.com/dCY0b8A.jpg);
	max-width: 100%;
	min-height: 100px;
	max-height: 250px;
}
div.blend {
	background: rgba(103, 143, 254, 0.3);
	max-height: 100%;
	width: 100%;
	padding: 4rem 2rem;

	-webkit-transition: background 2s; /* Safari */
  	transition: background 2s;

}
.homepage-header h1 {
	/*mix-blend-mode: darken;*/
	margin: auto;
	color: #DBE5FF;
	/*color: azure;*/
}


.errors {
	padding-top: 30px;
	color: red;
}