// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
*/
$bd: #091534;
$bmd: #1E3471;
$bm: #213B82;
$bml: #17a2b8;
$bl: #7eacdc;

.dashboard-wrapper {
	margin-top: 50px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 45vh 45vh;
	.dashboard-tile {
		/*border: 1px solid white;*/
		padding: 20px
	}
}

.tl {
	background-color: #213B82;

}
.tr {
	background-color: #17a2b8;
	color: $bd;
	hr {
		background-color: $bd;
	}
}
.bl {
	background-color: #7eacdc;
	color: $bd;
	hr {
		background-color: $bd;
	}

}
.br {
	background-color: #1E3471;

}

/*

#091534
#1E3471
#213B82
#17a2b8
#7eacdc

*/