<header class="form-wrapper newpost-header">
	<h1 class="text-center">Your Dashboard</h1>
</header>

<div class="dashboard-wrapper">
	<div class="dashboard-tile tl">
		<hr />
		TL
	</div>
	<div class="dashboard-tile tr">
		<hr />
		TR
	</div>
	<div class="dashboard-tile bl">
		<hr />
		BL
	</div>
	<div class="dashboard-tile br">
		<hr />
		BR
	</div>

</div>



<h1 class="text-center">_</h1>

